<div class="flip-card">
  <% @bookmarks.each do |bookmark| %>
  <div class="flip-card-inner">
    <div class="flip-card-front">
      <%= cl_image_tag bookmark.park.photos.first.key, style: "width:300px;height:300px;object-fit:cover;" %>
    </div>
    <div class="flip-card-back">
      <h1><%= link_to bookmark.park.name, park_path(bookmark.park)%></h1>
    </div>
  </div>
  <% end %>
</div>

