.card-fav {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  text-align: center;
  background-color: #D8FDF1;
  position: sticky;
  height: 100vh;
  top: 0;
}

.avatar-bookmark {
  border-radius: 50%;
  margin: auto;
  padding: 48px;
  width: 400px;
}

.title {
  color: grey;
  font-size: 18px;
}


.fav-park {
  margin-left: 22px;
  margin-top: 22px;
  margin-right: 22px;
  margin-bottom: 22px;

}

.card-park-fav {
  margin-left: 42px;
  margin-right: 42px;
  max-height: 256px;
}

#card-delete{
  text-decoration: none;
  font-size: 20px;
  color: black;
}


.items {
  background-color: #EBFEF8;
  width: 100%;
  }

#leaf-black{
  color: black;
}

.leaf-black{
  color: black;
}
