.card-fav {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  max-width: 400px;
  text-align: center;
  background-color: #b8f2b5;

}

.card-fav img {
  border-radius: 200px;
  margin: auto;
  padding: 48px;
}

.title {
  color: grey;
  font-size: 18px;
}


a {
  text-decoration: none;
  font-size: 22px;
  color: black;
}

.fav-park {
  margin-left: 22px;
  margin-top: 22px;
  margin-right: 22px;
  margin-bottom: 22px;
}

.card-park-fav {
  margin-left: 42px;
  margin-right: 42px;
}
