#create {
  box-shadow: 0 0 15px rgba(0,0,0,0.4);
  border-radius: 4px;
  margin-bottom: 3rem;
  opacity: 0.8;
  h2 {
    text-align: center;
    margin-bottom: 16px;
  }
}

#create-form {
  padding-top: 8px;
  padding-bottom: 8px;
 }

.form-control {
  border-radius: 4px;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  border: 1px solid rgb(40, 40, 40);
}

#img-back {
  background-size: contain;
}

.br-widget {
  display: flex;
  justify-content: center;
}

.select {
  label {
    display: none;
  }
}

.modal-backdrop {
  opacity:0.6 !important;
}

.br-theme-css-stars .br-widget a {
  font-size: 24px !important;
}

.br-theme-css-stars .br-widget a.br-selected::after {
  color: $yellow !important;
}
