#create {
  box-shadow: 0 0 15px rgba(0,0,0,0.4);
  border-radius: 4px;
}

#create-form {
  padding-top: 8px;
  padding-bottom: 8px;
}

.form-control {
  border-radius: 4px;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  border: 1px solid rgb(40, 40, 40);
}