<div class="footer d-flex justify-content-between align-items-center">
  <div class="footer-copyright">
    <i class="fab fa-facebook-square"></i>
    <i class="fab fa-instagram-square"></i>
    <i class="fab fa-twitter-square"></i>
    <i class="fas fa-envelope-square"></i>
  </div>
    <div class="d-flex justify-content-right align-items-center">
      <p id="footer-right"><i class="fas fa-leaf"></i> ParkN</p>
    </div>
</div>

<i class="fa-solid fa-leaf"></i>