<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url( <%= image_path "park1.jpg" %>);">
  <div class="home-container" style="">
    <h1><strong class="til">ParkN</strong> gives you park information with just a click!</h1>
    <p>Make your park visits more fun.</p>
    <div class="home-search-bar">
    <%= form_tag parks_path, method: :get do %>
       <div class="d-flex search_bar">
        <%= text_field_tag :query,
          params[:query],
          class: "form-control",
          placeholder: "Find a park"
        %>
       <%= submit_tag "Search", class: "btn btn-flat" %>
       <% end %>
    </div>
  </div>
</div>
