
<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url( <%= image_path "park1.jpg" %>);">
  <div class="container">
    <h1>ParkN <strong>gives you</strong> park information <strong>with just a click</strong>!</h1>
    <p>Make your park visits more fun.</p>
    <%= render 'shared/search' %>
  </div>
</div>
