.banner {
  background-size: cover;
  background-position: center;
  padding: 150px 0;
  width: 100%;
  height: 100%;
}

.banner h1 {
  margin: 0;
  color: white;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  font-size: 32px;
  font-weight: bold;
  font-family: 'Overlock', cursive;
}

.banner p {
  font-size: 20px;
  color: white;
  opacity: .8;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
}

.btn-flat {
  color: white;
  padding: 8px 16px;
  border-radius: 4px;
  background: #079D6B;
  transition: background 0.3s ease;
}

.til{
  font-family: 'Amatic SC', cursive;
  color: white;
  font-size: 42px;
}
