.cards {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.emoji-cards {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
  a {
  text-decoration: none;
  color: black;
  }
}

.emoji-card {
  border: solid 1px black;
  border-radius: 16px;
  padding: 0px 16px 0px 8px;
  margin: 4px;
  display: flex;
  justify-content: space-between;
  box-shadow: 2px 2px 2px rgba(0,0,0,0.3);
  h3 {
    padding: 4px 0px;
  }
}

.emoji-card-clicked {
  border: solid 1px black;
  border-radius: 16px;
  padding: 0px 16px 0px 8px;
  margin: 4px;
  display: flex;
  justify-content: space-between;
  box-shadow: 2px 2px 2px rgba(0,0,0,0.3);
  background-color: #D8FDF1!important;
  h3 {
    padding: 4px 0px;
  }
}

.emoji {
  margin: 0!important;
  i {
    color: $park_green;
  }
}

.line {
  width: 1px;
  background: black;
}

.counter {
  margin: 0!important;
}

.card-show {
  overflow: hidden;
  background: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  //border: 1px solid #919191;
  width: 600px;
}

.card-show > img {
  height: 260px;
  width: 100%;
  object-fit: cover;
  //border-bottom: 1px solid #919191;
}

.card-show h2 {
  font-size: 24px;
  font-weight: bold;
  margin: 16px 0;
}

.card-show h3 {
  font-size: 24px;
  margin: 16px 0;
}

.card-show p {
  font-size: 12px;
  opacity: .7;
  margin: 0;
}

.card-show .card-show-infos {
  padding: 16px;
  justify-content: space-between;
  align-items: flex-end;
  position: relative;
}

.card-show-infos .card-show-user {
  position: absolute;
  right: 16px;
  top: -20px;
  width: 40px;
}

.card-show-pricing {
  position: absolute;
  top: 280px;
  right: 20px;
  font-size: 16px!important;
}

.fa-heart {
  color: #c34535;
  position: absolute;
  right: 8px;
  top: -240px;
  width: 40px;
  font-size: 24px;
  -webkit-text-stroke: .3px #c34535;

}

//bookmarks_index
.fav-park .heart {
 color: #c34535;
 position: absolute;
 right: 8px;
 top: -180px;
 width: 40px;
 font-size: 24px;
}


.rating {
  display: flex;
  position: absolute;
  left: 16px;
  top: -40px;
  width: 240px;
  font-size: 24px;
  i {
    margin: 0 4px;
    color: $yellow;
     -webkit-text-stroke: .3px $yellow;
  }
}
