.cards {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

strong {
  font-weight: thin;
  color: rgb(70, 70, 70);
}

.card-bike-each img {
  object-fit: cover;
  height: 150px;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  width: 90%;
  margin-top: 4px;
  border-radius: 4px;
}

.card-bike-each img:hover {
  border: 4px solid white;
}

h2 {
  display: flex;
  font-size: 20px;
  font-weight: bold;
  margin: 0;
  margin-bottom: 18px;
}

#bike-price {
  color: rgb(70, 70, 70);
  font-size: 16px;
  justify-text: right;
}

h3 {
  justify-text: center;
  font-size: 28px;
  color: rgb(70, 70, 70);
}

.card-bike-each a {
  font-size: 12px;
  opacity: .7;
  margin-bottom: 2px;
  margin-block-end: 2px;
  color: black;
}

.bike-price-info h2 {
  border-radius: 4px;
  color: rgb(70, 70, 70);
  width: 90%;
  padding: 8px;
  display: grid;
  justify-content: flex-end;
  align-items: flex-end;
  position: relative;
  background-color: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
}

.card-show {
  overflow: hidden;
  background: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  border: 1px solid #919191;
  width: 1000px;
}

.card-show > img {
  height: 260px;
  width: 100%;
  object-fit: cover;
  border-bottom: 1px solid #919191;
}

.card-show h2 {
  font-size: 24px;
  font-weight: bold;
  margin: 16px 0;
}

.card-show h3 {
  font-size: 16px;
  margin: 16px 0;
}

.card-show p {
  font-size: 12px;
  opacity: .7;
  margin: 0;
}


.card-show .card-show-infos {
  padding: 16px;
  justify-content: space-between;
  align-items: flex-end;
  position: relative;
}

.card-show-infos .card-show-user {
  position: absolute;
  right: 16px;
  top: -20px;
  width: 40px;
}

.card-show-pricing {
  position: absolute;
  top: 280px;
  right: 20px;
  font-size: 16px!important;
}

