.show-container {
  display: flex;
  margin-left: 32px;
  margin-right: 32px;
}

#map {
  margin-left: 16px;
  height: 100vh;
  position: sticky;
  top: 20px;
}

.mapboxgl-popup {
  max-width: 200px;
}

.mapboxgl-popup-content {
  text-align: center;
  font-family: 'Open Sans', sans-serif;
  padding: 10px 10px 5px;
  background: #9EFADB!important;
  border-radius: 24px;
  h3 {
    font-size: 16px;
    margin-top: 10px;
    margin-bottom: 0px;
    a {
      text-decoration: none;
      color: #000;
      border: none;
    }
  }
}
