html,
body {
 height: 100%;
 position: relative;
}
body {
  height: 100vh;
  display: flex;
  flex-direction: column;
  margin: 0;
  background-color: #EBFEF8;
  font-family: 'Overlock', cursive;
  //font-weight:;

}

//.main-container {
 //min-height: 100vh; /* will cover the 100% of viewport */
 //overflow: hidden;
 //display: block;
 //position: relative;
 //padding-bottom: 100px; /* height of your footer */
//}

//.footer {
 //display: flex;
 //position: absolute;
 //bottom: 0;
 //width: 100%;
 //height: 70px;
 //background-color: #023B28;
 //font-size: 22px;
//}
.footer {
  width: 100%;
  background-color: #023B28;
  font-size: 22px;
  margin-top: auto;
  position: fixed;
  bottom: 0;
}

.footer-copyright {
  margin-left: 16px;
}

.footer-copyright :hover {
  color: #079D6B;
}

i {
  color: white;
}

#footer-right {
  margin-bottom: 0;
  margin-right: 16px;
  color: white;
}
