.navbar-lewagon {
  justify-content: space-between;
  background: #013b28;
  padding-bottom: 0;
  padding-top: 0;
  padding-left: 8px;
  height: 8%;
}
.navbar-lewagon h1 {
  font-family: 'Amatic SC', cursive;
  color: white;
  font-size: 52px;
  margin-bottom: 0; 
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}

.navbar-light .navbar-nav .active > .nav-link, {
  color: white;
  font-size: 16px;
  & :hover {
    color: black;
  }
}

.navbar-light .navbar-nav .nav-link {
  color: white;
  font-size: 16px;
}
