.search-bar .btn-primary {
  background-color: #048c5e;
  border-color: #048c5e;
}


#query {
  color: black!important;
  opacity: 0.6;
}

.home-search-bar {
	width: 57%;
}

.home-search-bar .search-bar{
  width: 100%;
  #query {
  	opacity: 0.6;
  }
  .btn-flat {
  	opacity: 1;
  }
 }


 .srch .search-bar{
	 width: 48%;
	 align-content: center;
	 #query {
	 	opacity: 0.7; 
	 }
	  .btn {
  		opacity: 1;
  	 }
 }
