<div id="create" class="container create-form col-8 col-offset-5 mt-5 bg-white py-5 px-5">
  <h2><%= @park.name %></h2>
  <form class="simple_form new_review" id="new_review" novalidate="novalidate" action="/parks/694/reviews" accept-charset="UTF-8" method="post"><input type="hidden" name="authenticity_token" value="W0yukHsCui8LXjHE/orHTfWIsdYSv/A5IKtCXlHjZfSKMnD1/PsBDS+RhHmePIGl3KgHtf5qrArsrD0UEPNAFg==">
    <div class="form-group select required review_rating">
      <label class="select required" for="review_rating">Rating <abbr title="required">*</abbr></label>
      <div class="br-wrapper br-theme-css-stars">
        <select class="form-control select required" name="review[rating]" id="review_rating" style="display: none;"><option value=""></option>
          <option value="1">1</option>
          <option value="2">2</option>
          <option value="3">3</option>
          <option value="4">4</option>
          <option value="5">5</option>
        </select>
      </div>
    </div>
    <div class="form-group text optional review_content">
      <label class="text optional" for="review_content">My comment:</label>
      <textarea class="form-control text optional" name="review[content]" id="review_content"></textarea>
    </div>
    <input type="submit" name="commit" value="Submit" class="btn btn-success w-100" data-disable-with="Submit">
  </form>
</div>
